.bodycolor {
    background-color: #f05133;
    color: #ebeaea;
    text-align: center;
    font-family: Impact,Tahoma, sans-serif;
    line-height: 20px;
    
  }

  .colorhead {
    background: #51251d;
    color: #ebeaea;
    text-align: center;
    font-family: Impact,Tahoma, sans-serif;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    padding: 55px 50px;
  }

  .all-ground {
    background: #51251d;
    color: #ebeaea;
    text-align: left;
    font-family: Impact,Tahoma, sans-serif;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 20%;
    position: relative;
    padding: 10px 50px;
    left: -500px;
  }

  
  .footer-distributed{
    background: #51251d;
    color: #ebeaea;
    text-align: right;
    font-family: Impact,Tahoma, sans-serif;
    
    box-sizing: border-box;
    width: 100%;
    padding: 40px 50px;
  }
  

  
  
  h1, h2, h3, h4, h5 {
    font-weight: normal;
  }
  input[type="date"]{
    background-color: rgb(255, 172, 5);
    padding: 11px;
    font-family: Impact,Tahoma, sans-serif;
    color: rgb(95, 22, 22);
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 3px;
    
}


  p a {
    color: #f4f2ca;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255, .2);
    padding: .2em 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
  }
  p a:hover {
    color: #f4f2ca;
    opacity: .6;
  }
  
  /* style input field text */
  ::-webkit-input-placeholder {
     color: #919086;
     opacity: .8;
  }
  
  /* Input field that looks like a button */
  .email-field {
    width: 110px;
    display: inline-block;
    color: #f6f5ec;
    text-align: center;
    background-color: #d8492e;
    padding: .9em 1.8em;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
  }
  .email-field:hover {
    background-color: #d0432a;
  }
  
  /* after button is clicked */
  .email-field.active {
    width: 200px;
    outline: none;
    color: #efaa9d;
    text-align: left;
    cursor: inherit;
  }
  
  input.button7 {
    font-weight: 700;
    color: rgb(95, 22, 22);
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border: none;
    background: rgb(255, 172, 5);
    box-shadow: 0 -3px rgb(235, 84, 13) inset;
    transition: 0.2s;
    font-family: Impact,Tahoma, sans-serif;
    
  } 
  input.button7:hover { background: rgb(215, 13, 13); }
  input.button7:active {
    background: rgb(216, 127, 127);
    box-shadow: 0 3px rgb(198, 71, 71)inset;
  }

  select {
    width: 140px;
    height: 35px;
    padding: 5px 35px 5px 5px;
    font-size: 18px;
    border: 2px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/uploads/media/default/0001/02/f7b4d3d2ba3fe1d8518e6e63d7740e1e73921abf.png") 96% / 15% no-repeat #eee;
    }
    label{
      font-size: 20px;
      position: relative;
    }

  /* vertically position everything for effect */
  @media screen and (min-width: 480px) {
    
    .middle {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    
    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }