<!DOCTYPE html>
{% load static %}

<html>
    <head>
        {% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
{% endblock %}
</head>
<body>
<h1>Hello</h1>
    <form action="/washapp/" method="post"> 
        <input type="date" name="datewash" value="{{req}}" min="{{req}}">
        <input class="button7" type="submit" value="Показать">
        {% csrf_token %}
        </form>

<form action="/addzayav/" method="post"> 
<input type="hidden" name="rec" value="{{req}}"/>
   <ul> 
<label>Выберите время</label>
<select name="select">
    {% for i in vse_nuzh %}
    <option >{{i}}</option >
    {% endfor %}
</select>
</ul>
<ul>
    <label>Введите имя</label>
    <input class="email-field" type="text" required name="client_name" pattern="[A-Za-zА-Яа-яЁё]{2,}">
</ul>
<ul>
    <label>Введите номер</label>
    <input class="email-field" type="text" required name="client_numb" pattern="[+7/7/8]{1,2}[0-9]{10}"  maxlength="12">
</ul>
 <input class="button7" type="submit" value="Подать заявку">
    {% csrf_token %}
    </form>
</body>

</html>